.DS_Store
roamify_extension/backend/__pycache__/
roamify_extension/backend/app/__pycache__/
roamify_extension/backend/app/routes/__pycache__/
roamify_extension/backend/.venv/
roamify_extension/backend/app/utils/__pycache__/