body {
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #515151;
}
.splash-container,
.main-container,
.login-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container {
  color: white;
  font-size: 4em;
  transform: translateX(-100%);
  transition: transform 0.5s ease;
}
.main-container.slide-in {
  transform: translateX(0);
}
.main-container.move-up {
  position: absolute;
  top: -300px;
  left: -60px;
  font-size: 2.5em;
  transition: top 1s ease, left 1s ease;
}
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #251f48;
  color: white;
  font-size: 1.5em;
  position: absolute;
  padding-top: 10;
  bottom: 0;
  height: 0;
  width: 100%;
  overflow: hidden;
  transition: height 0.5s ease, transform 0.5s ease;
}
.login-container.slide-up {
  height: 80%;
  transform: translateY(0);
}
.empty-frame {
  width: 80%;
  max-width: 400px;
  padding: 20px;
  border: 2px solid white;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  position: relative;
  top: -20%;
}
.empty-frame h2 {
  margin-top: 0;
  font-size: 2em;
}
.login-form,
.signup-form {
  display: flex;
  flex-direction: column;
}
.login-form input,
.signup-form input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: #fff;
  color: #000;
  font-size: 1em;
}
.login-form button,
.signup-form button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #6c63ff;
  color: white;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.login-form button:hover,
.signup-form button:hover {
  background-color: #5754e7;
}
img {
  max-width: 100%;
  height: 100%;
}
